nav{
  min-height: 10vh;
  color: white;
  list-style: none;
  background-color: rgb(103, 103, 163);
}


ul{
  display: flex;
  align-items: center;
  color: white;
  list-style: none;

}

li{
  margin-right: 50px;
  margin-left: 250px;
  color: white;
  font-size: 30px;
  margin-top: 10px;
  align-content: center;
 
}